<% content_for :title do %>
	Registered
<% end %>

<% content_for :body do %>
	<div class="container">
		<div class='header'>
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><span class='logo'>Awkyo</span></a>
	    </div>
	    <center>
	      <div class="navbar-collapse collapse" id="navbar-main">
	      </div>
	    </center>
		</div>
	</div>


	<div class='row'>
		<div class='col-md-6 col-md-offset-1 margin_top_50'>
			<h1>Thank's for Registering!</h1>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-6 col-md-offset-1 margin_top_50'>
			<p>You're almost done. Please fill out the following information.</p>	
			<form role="form">
				<div class="form-group">
				  <label for="comment">Upload a photo: </label>
				  <div class='photo'></div>
				  <input type="file" value="Submit">
				</div>
		    <div class="form-group">
		      <label for="comment">Description: </label>
		      <textarea class="form-control" rows="5" id="comment"></textarea>
		    </div>
		    <div class="form-group">
		      <label for="comment">Location: </label>
		      
		    </div>
		    <input type="submit" value="Submit" class="btn btn-info btn-block">
		    <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
		  </form>
		</div>
	</div>



	<div class='container wrapper'>
		<footer>
			<div class='container'>
				<ul class='footer'>
				<!-- 	<li><a href='/about'>About</a></li>
						<li><a href='/how'>How It Works</a></li>
						<li><a href='/careers'>Careers</a></li>
						<li><a href='/faq'>FAQ</a></li>
						<li><a href='/terms'>Terms</a></li> -->
				</ul>
			</div>
		</footer>
	</div>
<% end %>
