<% content_for :title do %>
 	About Us
 <% end %>

 <% content_for :body do %>
 	<!-- =====================top menu bar========================= -->
 		<div class="container">
 			<div class='header'>
 		    <div class="navbar-header">
 		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
 	        <span class="icon-bar"></span>
 	        <span class="icon-bar"></span>
 	        <span class="icon-bar"></span>
 		      </button>
 		      <a class="navbar-brand" href="/"><span class='logo'>Awkyo</span></a>
 		    </div>
 		    <center>
 		      <div class="navbar-collapse collapse" id="navbar-main">
 	          <form class="navbar-form navbar-right" role="search">
 	            <div class="form-group">
 	              <input type="text" class="form-control" name="username" placeholder="Username">
 	            </div>
 	            <div class="form-group">
 	              <input type="password" class="form-control" name="password" placeholder="Password">
 	            </div>
 	          <button type="submit" class="btn btn-default">Sign In</button>
 	          </form>
 		      </div>
 		    </center>
 			</div>
 		</div>

 		<!-- ==============================body============================= -->

 		<div class='container about_us'>
 			<div class='row'>
	 			<div class='col-md-4'>
	 				<h2>Careers</h2>
	 			</div>
	 		</div>
	 		<div class='row about_content'>
	 			<div class='col-md-8'>
	 				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 			</div>
	 		</div>
	 		<div class='row about_content'>
	 			<div class='col-md-8'>
	 				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 			</div>
	 		</div>
	 		<div class='row about_content'>
	 			<div class='col-md-8'>
	 				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 			</div>
	 		</div>
 		</div>



 			<!-- ===============================footer========================== -->
 		<div class='container'>
 			<footer>
 				<div class='container'>
 					<ul class='footer'>
 						<li><a href='/about'>About</a></li>
 						<li><a href='/how'>How It Works</a></li>
 						<li><a href='/careers'>Careers</a></li>
 						<li><a href='/faq'>FAQ</a></li>
 						<li><a href='/terms'>Terms</a></li>
 					</ul>
 				</div>
 			</footer>
 		</div>


 <% end %>