<% content_for :title do %>
 	About Us
 <% end %>

 <% content_for :body do %>
 	<!-- =====================top menu bar========================= -->
 		<div class="container">
 			<div class='header'>
 		    <div class="navbar-header">
 		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
 	        <span class="icon-bar"></span>
 	        <span class="icon-bar"></span>
 	        <span class="icon-bar"></span>
 		      </button>
 		      <a class="navbar-brand" href="/"><span class='logo'>Awkyo</span></a>
 		    </div>
 		    <center>
 		      <div class="navbar-collapse collapse" id="navbar-main">
 	     
 		      </div>
 		    </center>
 			</div>
 		</div>

 		<!-- ==============================body============================= -->

 		<div class='container about_us'>
 			<div class='row'>
	 			<div class='col-md-6'>
	 				<h2>How it works</h2>
	 			</div>
	 		</div>
	 		<div class='row margin_top_50'>
	 			<div class='col-md-8'>
	 				<p>Awkyo was made so we have to judge someone by their character, before we can see who they actually are. Everyones picture will be started off blurry. For everyday you chat with that person, their picture will slowly become unblurred. Follow the simple instructions below to really see how easy it is. </p>
	 			</div>
	 		</div>
	 		<div class='row about_content'>
	 			<div class='col-md-8'>
	 				<ul class='how'>
	 					<li><span class='glyphicon glyphicon-globe' aria-hidden='true'></span> Search for someone around the world.</li>
	 					<li><span class='glyphicon glyphicon-list' aria-hidden='true'></span> Read their profile to see if you maybe interested.</li>
	 					<li><span class='glyphicon glyphicon-phone' aria-hidden='true'></span> Message them and get to know their personality.</li>
	 					<li><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Everyday you message them, their picture will become unblurred.</li>
	 					<li><span class='glyphicon glyphicon-glass' aria-hidden='true'></span> Plan a meetup.</li>
	 					<li><span class='glyphicon glyphicon-heart' aria-hidden='true'></span> Endless possibilities</li>
	 				</ul>
	 			</div>
	 		</div>
 		</div>



 			<!-- ===============================footer========================== -->
 		<div class='container'>
 			<footer>
 				<div class='container'>
 					<ul class='footer'>
 						<li><a href='/about'>About</a></li>
 						<li><a href='/how'>How It Works</a></li>
 						<li><a href='/careers'>Careers</a></li>
 						<li><a href='/faq'>FAQ</a></li>
 						<li><a href='/terms'>Terms</a></li>
 					</ul>
 				</div>
 			</footer>
 		</div>


 <% end %>